@import"../../node_modules/bootstrap/scss/bootstrap";

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #b5ffc9;
  text-align: center;
  height: 60px;
}

.nav-link{
  font-weight: bold;
  font-size: larger;
  padding:15px;
}

#div_title{
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
}

#div_description{
  word-break: break-all;
  word-wrap: break-word;
}

#div_id{
  background-color: #defaeb;
}

input {
  border: 1px solid black;
}

